127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.10.201     k8s-master01 api.k8s.local
192.168.10.211     k8s-worker01
#192.168.10.212     k8s-worker02
#192.168.10.150     harbor.musin.tech